.button{
    width: 300px;
    max-width: 400px;
    min-width: min-content;
    border-radius: 20px !important;
    margin: 3px !important;
    background-color: white !important;
    color: black !important;
}
.button:hover{
    background-color: #e6e6e6 !important;
    
}